#exclude old working stuff
missions/obselete
#exclude all launch vehicle files except those that I want to be explicitly public
lv/
!lv/template.ks
!lv/Katlas.ks
!lv/Titan II-KLV.ks
old/

#emacs
[#]*[#]
